
<%- include('header'); %>

<div id="container">
    <div id="weather">
        <div> <%= description %> </div>
        <h1> <%= temp %> </h1>
        <div> <%= city %> </div>

    </div>
    <div>
        <form id="change-city" method="POST" action="/">
            <input type="text" placeholder="Change city" name="linn">
            <br>
            <input type="submit" value="Save Changes">
        </form>
    </div>
</div>

<%- include('footer'); %>
